@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*  -------------------------------------   NAV BAR & SLIDE SHOW   ----------------------------------------------------------- */
body {
    color: #502314;
    background: rgb(245, 242, 237);
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
  }
  
  .navbar-nav .nav-link {
    color: #502314; /* Change this color to your desired font color */
  }
  
  .navbar-nav .nav-link button {
    color: white; /* Keep the button font color white */
  }
  
  /* Center nav items in mobile view */
  @media (max-width: 991.98px) { /* Bootstrap breakpoint for large devices and below */
    .navbar-collapse {
      text-align: center;
    }
    .navbar-nav {
      margin: 0 auto;
      float: none;
    }
    .navbar-nav .nav-item {
      display: inline-block;
      float: none;
    }
    .carousel-item img{
        width: 220px;
        height: 280px;
    }
  }
  
/* -------------------------------------------  QUOTE  ---------------------------------------------------------------- */

.quote{
    margin-top: 120px;
    margin-bottom: 120px;
    align-items: center;
    text-align: center;
}
.quote h1{
    font-weight: 900;
    margin-bottom: 40px;
}
.quote p{
    font-weight: 600;
}
.bac-img {
    position: absolute;
    z-index: -1;
    margin-top: -190px;
}

/* -------------------------------------------  ABOUT US  --------------------------------------------------------------------*/

.about{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-img{
    margin-right: 20px;
}
.about-content{
   text-align: left; 
}
.about-content h1 {
    font-weight: 900;
    margin-top: -5px;
    margin-bottom: 15px;
}
.about-content p {
    font-weight: 500;
    
}
.btn-about{
    background-color: rgb(173, 173, 12);
    color: rgb(249, 249, 249);
    border-radius: 10px;
    border:1px solid rgb(173,173,12) ;
    padding: 5px 12px 5px 12px;
}

/*----------------------------------------------  BOOKING  ----------------------------------------------------------------*/
.booking{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hotel-img{
    margin-top: 100px;
}
.hotel-img img {
    border-radius: 10px;
}
.about-hotel{
    margin-right: 100px;
    text-align: center;
    margin-top: -80px;
}
.about-hotel h1{
    font-weight: 900;
    margin-bottom: 15px;
}
.about-hotel p {
    font-weight: 500;

}
.btn-book{
    background-color: #794704;
    color: white;
    font-weight: 800;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 9px;
    margin-top: 10px;
    position: relative;
    z-index: -1;
}

/* -------------------------------------------------------  NEWS - LETTER ------------------------------------------------------------- */
.news-letter{
    margin-left: 80px;
    margin-right: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -50px;
    margin-bottom: 120px;
    
}
.news-letter form{
    display: flex;
    width: fit-content;
}
.news-letter form input {
    border: 0px;
    outline: none;
    padding: 10px 20px;
    height: 50px;
    width: 400px;
    font-size: 16px;
}
.news-letter form button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #3b180c;
    color: white;
}
.news-letter-content h1{
    font-weight: 500;
}

/*--------------------------------------------------------- CONTACT -------------------------------------------------------------- */

.contact{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
}
.line-1 , .line-2 , .line-3{
    margin-bottom: 12px;
    margin-right: 10px;
}

.contact-form form input{
    border: 0px;
    outline: none;
    padding: 10px 20px;
    height: 60px;
    width: 350px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 8px;
}
.contact-form form textarea {
    width: 715px;
    height: 180px;
    border: 0px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    resize: none;
    padding: 10px 20px;
}
.contact-form form button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #3b180c;
    color: white;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-weight: 700;
}
.contact-form h1{
    font-weight: 700;
}
.contact-form p {
    font-weight: 6500;
    margin-top: -2px;
    margin-bottom: 20px;
}

.contact-details h1{
    font-weight: 700;
    margin-bottom: 37px;
}
.contact-details p{
    font-weight: 500;
}
.contact-details .social h2 {
    font-weight: 700;
    margin-top: 60px;
}
.contact-details .social i{
    margin-right: 5px;
}

/*----------------------------------- FOOTER --------------------------------------------------------------*/
footer{
    background-color: rgb(71, 73, 75);
    color: white;
}
footer li{
    text-decoration: none;
}