body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
   
    z-index: 1000;
    left: 5%;
    right: 20%;
    background-color: #FFF2E6;
    position: fixed;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 5%;
    top: 0;
    
    left: 0;
    height: 100vh;
    position: fixed;
}

.sidebar img:hover{
    cursor: pointer;
}

.cartsection{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    top: 0;
    left: 80%;
    position: fixed;
}

.cart{
    width: 97%;
    box-sizing: border-box;
    margin: 5px;
    height: 100vh;
    border: 2px solid #FF7C08;
    border-radius: 9px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.cart_title{
    
    box-sizing: border-box;
    margin-top: 10px;
    padding-inline: 80px;
    margin-inline: auto;
    border-radius: 5px;
    background-color: #FF7C08;
    width: 98%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.cart_text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-block: auto;
    color: white;
    font-weight: 600;
}

.cart_section{
    display: flex;
    flex-direction: column;
}

.cart_item{
    display: flex;
    flex-wrap: wrap;
    margin-inline: 5px;
    border-radius: 5px;
    background-color: #FF7C08;
    color: white;
}

.cart_item_name{
    width: 50%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.quantity{
    width: 30%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.total{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #FF7C08;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    margin-inline: 5px;
}

.checkout_button{
    display: flex;
    justify-content: center;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.textcontainer{
    display: grid;
    justify-content: center; 
}

.welcome_msg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 230px;
}

.desc{
    margin-top: -18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    font-weight: 600;
}

.searchcontainer{
    display: flex;
}

.add-btn{
    width: 10rem;
    height: 2.5rem;
    background-color: #FF7C08;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: #FF7C08;
    font-family: Arial, Helvetica, sans-serif;
}

.main_content{
    position: absolute;
    left: 5.0%;
    right: 20%;
    top: 0px;
    width: 75%;
    background-color: #FFF2E6;
    
}

.spinner{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;

}
------------------------------------------------------------------------------------------------------------

.item{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.lower{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 7px;
}

.item-name{
    display: flex;
    justify-content: center;
}

.name{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.price{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-inline-start: 5px;
    margin-bottom: 2px;
}

.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-cart-btn{
    background-color: #FF7C08;
    border: #FF7C08;
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-inline-end: 5px;
    margin-bottom: 3px;
    width: 4rem;
}

