@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 550px){
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #502314;
    background: rgb(245, 242, 237);
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
}
.label-01{
    display: grid;
    grid-template-rows: 2 1fr;
}
.content-01 img{
    height: 400px;
    width: 500px;
}
}